PORT=5001
MONGODB_URI=mongodb://127.0.0.1:27017/payment-gateway
# Cloudflare tunnel URL or local machine URL for sending payment webhooks to delivery app backend
DELIVERY_APP_WEBHOOK_URL=http://localhost:5000/api/payment-webhook
FRONTEND_URL=*
